<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            🔄 Reconnecting to the server...
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            ⏳ Reconnection attempt <span id="retry-message">pending</span>
        </p>
        <p class="components-reconnect-failed-visible">
            ❌ Connection lost.<br />Please retry or reload the page.
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Retry Connection
        </button>
        <p class="components-pause-visible">
            ⏸️ The session has been paused by the server.
        </p>
        <button id="components-resume-button" class="components-pause-visible">
            Resume Session
        </button>
        <p class="components-resume-failed-visible">
            ❌ Failed to resume session.<br />Please reload the page.
        </p>
    </div>
</dialog>
