
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject Functions Functions
@inject Globals Globals

<div class="page">
    <main>
        <CascadingValue Value="@isReadOnly">
            @Body
        </CascadingValue>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {

    private bool _isDarkMode = true;
    private MudTheme? _theme = null;
    public bool isReadOnly { get; set; } = false;

    protected override async Task OnParametersSetAsync()
    {
        var disallowedPages = new List<string>
        {
            "StandardDashboardPage",
            "AdminDashboardPage",
            "LoginPage"
        };

        var currentUri = NavManager.ToBaseRelativePath(NavManager.Uri)?.Split('?')[0];

        if (!disallowedPages.Any(page => string.Equals(currentUri, page, StringComparison.OrdinalIgnoreCase)))
        {
            /*
            var (isAuthorized, result) = await Functions.AllowThisPage("/" + currentUri);
            if (!isAuthorized)
            {
                //await InvokeAsync(() => NavManager.NavigateTo("/"));
            }
            
            isReadOnly = result != 2;
            */
        }
    
        if (Globals.User == null)
            return;

        if (Globals.User.DarKLightTheme == 1)
        {
            Globals._isDarkMode = false;
        }
        else
        {
            Globals._isDarkMode = true;
        }
    
    }

    private readonly PaletteLight _lightPalette = new()
        {
            Black = "#110e2d",
            AppbarText = "#424242",
            AppbarBackground = "rgba(255,255,255,0.8)",
            DrawerBackground = "#ffffff",
            GrayLight = "#e8e8e8",
            GrayLighter = "#f9f9f9",
        };

    private readonly PaletteDark _darkPalette = new()
        {
            Primary = "#7e6fff",
            Surface = "#1e1e2d",
            Background = "#1a1a27",
            BackgroundGray = "#151521",
            AppbarText = "#92929f",
            AppbarBackground = "rgba(26,26,39,0.8)",
            DrawerBackground = "#1a1a27",
            ActionDefault = "#74718e",
            ActionDisabled = "#9999994d",
            ActionDisabledBackground = "#605f6d4d",
            TextPrimary = "#b2b0bf",
            TextSecondary = "#92929f",
            TextDisabled = "#ffffff33",
            DrawerIcon = "#92929f",
            DrawerText = "#92929f",
            GrayLight = "#2a2833",
            GrayLighter = "#1e1e2d",
            Info = "#4a86ff",
            Success = "#3dcb6c",
            Warning = "#ffb545",
            Error = "#ff3f5f",
            LinesDefault = "#33323e",
            TableLines = "#33323e",
            Divider = "#292838",
            OverlayLight = "#1e1e2d80",
        };

    public string? DarkLightModeButtonIcon => _isDarkMode switch
    {
        true => Icons.Material.Rounded.AutoMode,
        false => Icons.Material.Outlined.DarkMode,
    };
}

